{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "../.eslintrc",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}