<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Eczar:800" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./favicon.jpg" />
  <link rel="stylesheet" href="/public/error-style.css" />
 <style type="text/css">
    input:-webkit-autofill {
      transition-delay: 9999999s;
      }
    </style>
</head>
<div id="root"></div>
<script src="/public/bundle.js"></script>

</html>